.textColor, .posticonColor {
    color: rgb(233, 233, 233);
}

.home {
    &_row {
        display: flex;
        width: 90%;
        max-width: 1024px;
        min-height: 87vh;
        margin: 0 auto 32px;
    }

    &_container {
        width: 70%;
        margin-right: 24px;

        @media screen and (max-width: 960px) {
            width: 100%;
        }
    }

    //スマホ向けのUI
    @media screen and (max-width: 600px) {
        &_row {
            display: block;
            width: 100%;
        }

        &_container {
            margin: 0;
        }
    }

    //タブレット向けのUI
    @media screen and (min-width: 601px) and (max-width: 960px) {
        &_row {
            display: block;
        }

        &_container {
            margin-right: 0;
        }
    }
}

.sidebar {
    width: 30%;

    @media screen and (max-width: 960px) {
        width: 100%;   
    }

}

.tag {
    &_wrapper {
        display: flex;
    }
    
    &_item {
        width: auto;
        margin-right: 8px;
        padding: 0;
        @extend .textColor;
    }

    &_icon {
        font-size: 1rem;
        margin-right: 4px;
        @extend .textColor;
    }
}

@media screen and (max-width: 600px) {
    .tag_wrapper {
        font-size: 12px;
        padding: 0;
    }

    .tag_icon {
        font-size: 12px;
    }
}


.card {
    &_title {
        font-weight: 600;
        @extend .textColor;
        
    }
    
}

@media screen and (max-width: 600px) {
    .card_title {
        font-size: 14px;
        margin-bottom: 12px;
        line-height: 1.4;
    }
}

.posttime {
    display: flex;
    align-items: center;
    @extend .textColor;

    &_icon {
        font-size: 1.2rem;
        font-weight: 600;
        margin-right: 4px;
        @extend .posticonColor;
    }
}

@media screen and (max-width: 600px) {
    .posttime {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .posttime_icon {
        font-size: 12px;
    }
}

.blog {
    &_cardlist {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 0;

        @media screen and (max-width: 600px) {
            display: block;
            width: 100%;
            padding: 0 4px;
            margin-bottom: 16px;
        }

        @media screen and (min-width: 601px) and (max-width: 960px) {
            margin-bottom: 8px;
        }
    
    }

    &_cardlistItem {
        width: calc(50% - 8px);
        padding: 0;
        margin-right: 16px;
        margin-bottom: 16px;
        
        &:nth-child(2n) {
            margin-right: 0;
        }

        @media screen and (max-width: 600px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 8px;
        }

        @media screen and (min-width: 601px) and (max-width: 960px) {
            width: calc(50% - 8px);
        }
    }

    &_link{
        height: 100%;
        width: 100%;
    }

    &_card {
        margin: 0;
        padding: 8px;
        background-color: rgb(20, 17, 48);
        transition: all 0.2s;
        height: 100%;

        @media screen and (max-width: 600px) {
            display: flex;
            align-items: center;
        }

        & img {
            height: 180px;
            width: 100%;
            margin-bottom: 12px;
        }

        &:hover {
            background-color: rgb(37, 31, 88);
            scale: 1.025;
        }
    }
    // @media screen and (max-width: 600px) {
        
    // }
}

@media screen and (max-width: 600px) {
    .blog {
        &_card img {
            width: 104px;
            height: 72px;
            margin-bottom: 0;
            margin-right: 8px;
        }

    }       
}

@media screen and (min-width: 800px) and (max-width: 960px) {
    .blog {
        &_card img {
            height: 204px;
        }
    }  
}
