.textColor {
    color: rgb(233, 233, 233);
}

.footer {
    &_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        background-color: rgb(6, 7, 43)
    }

    &_text {

        @extend .textColor;
    }
}